.age {
  padding: 1rem 3.5rem 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.493);
  border-left: 25px solid var(--red);
  color: var(--white);
  display: inline-block;
  position: absolute;
  inset: auto 0 130px auto;
  @media (max-width: 991px) {
    bottom: 50%;
    padding: 1rem 1.5rem;
    border-left: 17px solid var(--red);
  }
}
