.container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
}

.genre {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  & span {
    position: relative;
    padding: 0 1rem;
    &:first-of-type {
      padding-left: 0;
    }
    &::after {
      position: absolute;
      content: '';
      margin-left: 1rem;
      width: 2px;
      height: 2.5rem;
      background-color: var(--white);
    }
    &:last-of-type::after {
      width: 0;
    }
  }
}

.title {
  color: var(--white);
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 1.5rem;
}

.info {
  margin-bottom: 1.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  & p {
    position: relative;
    padding: 0 1rem;
    &:first-of-type {
      padding-left: 0;
    }
    &::after {
      position: absolute;
      top: 4px;
      content: '';
      margin-left: 1rem;
      width: 2px;
      height: 1.3rem;
      background-color: var(--white);
    }
    &:last-of-type::after {
      width: 0;
    }
    & span {
      color: var(--dark-grey);
      font-size: 1.8rem;
      padding-left: 0.5rem;
    }
  }
}

.disc {
  color: var(--dark-grey);
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  padding-right: 80px;
  text-align: left;
  text-wrap: balance;
}

.btns {
  margin: 2rem 0 1.7rem;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.stream {
  background-color: var(--red);
  padding: 1rem 2rem;
  border-radius: 8px;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  & span {
    margin-left: 1rem;
    background-image: url(./images/play.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    display: inline-block;
  }
}
.watch {
  background-color: transparent;
  outline: 3px solid var(--white);
  border-radius: 8px;
  padding: 1rem 2.5rem;
}

input[type='radio'] {
  display: none;
}
.star {
  cursor: pointer;
  margin-right: 8px;
}