.container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--white);
}

.genre {
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  @media (max-width: 671px) {
    font-size: 1.7rem;
    flex-wrap: wrap;
  }
  & span {
    position: relative;
    padding: 0 1rem;
    &:first-of-type {
      padding-left: 0;
    }
    &::after {
      position: absolute;
      content: '';
      margin-left: 1rem;
      width: 2px;
      height: 2.5rem;
      background-color: var(--white);
    }
    &:last-of-type::after {
      width: 0;
    }
  }
}

.title {
  color: var(--white);
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 1.5rem;
  @media (max-width: 671px) {
    font-size: 2.9rem;
    line-height: 3.2rem;
  }
}

.info {
  margin-bottom: 1.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  @media (max-width: 671px) {
    font-size: 1.4rem;
    flex-direction: column;
    align-items: start;
  }
  & p {
    position: relative;
    padding: 0 1rem;
    @media (max-width: 671px) {
      padding: 0;
      margin-bottom: 1rem;
    }
    &:first-of-type {
      padding-left: 0;
    }
    &::after {
      position: absolute;
      top: 4px;
      content: '';
      margin-left: 1rem;
      width: 2px;
      height: 1.3rem;
      background-color: var(--white);
      @media (max-width: 671px) {
        width: 0;
      }
    }
    &:last-of-type::after {
      width: 0;
    }
    & span {
      color: var(--dark-grey);
      font-size: 1.8rem;
      padding-left: 0.5rem;
      @media (max-width: 671px) {
        font-size: 1.4rem;
      }
    }
  }
}

.disc {
  color: var(--dark-grey);
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin-bottom: 1.5rem;
  text-align: left;
  max-width: 60vw;
  @media (max-width: 991px) {
    max-width: 90%;
  }
  @media (max-width: 671px) {
    max-width: 100%;
  }
}

.btns {
  margin: 2rem 0 1.7rem;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  @media (max-width: 671px) {
    width: 100%;
    font-size: 1rem;
    justify-content: space-between;
  }
}
.stream {
  background-image: linear-gradient(269deg,#af0f0f,#83655e 101.83%);
  padding: 1rem 2rem;
  border-radius: 8px;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  outline: 1px solid var(--red);
  transition: all .3s;
  &:hover {
    color: var(--black);
    background-image: linear-gradient(269deg,#88827a,#e9531a 101.83%)
  }
  @media (max-width: 671px) {
    margin: 0;
  }
  @media (max-width: 441px) {
    padding: 1rem 1.4rem;
  }
  & span {
    margin-left: 1rem;
    background-image: url(./play.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 28px;
    height: 28px;
    display: inline-block;
    @media (max-width: 661px) {
      width: 18px;
      height: 18px;
    }
  }
}
.watch {
  background-color: transparent;
  outline: 1px solid var(--white);
  border-radius: 8px;
  padding: 1.2rem 2rem;
  border-color: var(--dark-grey);
  color: var(--white);
  box-shadow: 0 0 10px 0 var(--shades-grey) inset, 0 0 10px 4px var(--dark-grey);
  transition: all .3s ease-in-out;
  border: none;
  &:hover {
    color: var(--black);
    box-shadow: 0 0 40px 40px var(--white) inset, 0 0 0 0 var(--white);
  }
  @media (max-width: 441px) {
    padding: 1rem 1.4rem;
  }
}

input[type='radio'] {
  display: none;
}

.star {
  cursor: pointer;
  margin-right: 8px;
  transition: all .3s;
  & svg {
    transition: all .3s;
  }
}
