#root {
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  mix-blend-mode: difference;
}

.wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1440px;
  width: 100%;
}

@media (max-width: 1202px) {
  .wrapper {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  .wrapper {
    padding: 2rem 1rem;
  }
}
