@import url('./assets/reset.scss');
@import url('./assets/variables.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--grey);
  background-color: var(--black);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 991px) {
  html,
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 764px) {
  html,
  body {
    font-size: 13px;
  }
}

a {
  color: var(--grey);
  text-decoration: none;
}

a:hover {
  color: var(--dark-grey);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  background-color: transparent;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
