.container {
  position: relative;
  max-width: 75vw;
  margin-left: -3rem;
  @media (max-width: 1081px) {
    max-width: 100%;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--white);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding: 0 3rem;
}

.prev {
  background-image: url(./prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 33px;
  height: 33px;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 var(--white) inset, 0 0 10px 2px var(--white);
  &:hover {
    box-shadow: 0 0 40px 40px var(--white) inset, 0 0 0 0 var(--white);
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
    box-shadow: none;
  }
}
.next {
  background-image: url(./next.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 33px;
  height: 33px;
  margin-left: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 var(--white) inset, 0 0 10px 2px var(--white);
  &:hover {
    box-shadow: 0 0 40px 40px var(--white) inset, 0 0 0 0 var(--white);
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
    box-shadow: none;
  }
}

.swiper {
  & img {
    overflow: hidden;
    object-fit: contain;
  }
}