.container {
  position: relative;
  max-width: 75vw;
  margin-left: -3rem;
  @media (max-width: 1081px) {
    max-width: 100%;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--white);
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  padding: 0 3rem;
}

.prev {
  background-image: url(./images/prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 33px;
  height: 33px;
  margin-left: auto;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
.next {
  background-image: url(./images/next.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 33px;
  height: 33px;
  margin-left: 1rem;
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

